@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
@media (max-width:768px){
    #header {
      height: 250px;
      max-width: 100%;
    }
    #oosakakankou {
      max-width: 100%;
      @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
    display: block;
    }
    
    .text-center {
        width: 100%;
        float: none;
        height: 100%;
         @include display-flex;
        justify-content: space-between;
        @include flex-direction(column);
        @include flex(1);
        margin: 10px 0;                     
        padding: 20px;
        @include border-radius(4px);
        @include box-sizing(border-box);
    }
     
    .container {
        width: 100%;
        float: left;
        height: 100%;
         @include display-flex;
        justify-content: space-between;
        @include flex-direction(column);
        float: none;
        display: block;
        padding: 25px;
    }

    #oosakakankou .usj-box {
        width:95%; 
        }
    #oosakakankou .doutonbori-box {
        width:95%; 
        }
    #oosakakankou .taiyounotou-box {
         width:95%; 
        }
}